<footer class="footer">
    <div class="españa">
        <article>España   <img src="./assets/images/es.svg" alt="es.svg" class="bandera"></article>
        <article class="art2"><span>@  2019 Spotify AB</span></article>
    </div>

    <div class="medio">
        <article class="art1">
            <span class="legal">Legal</span>
            <span class="cookies">Cookies</span> 
        </article>
        <article class="final">Información sobre los anuncios</article>
    </div>    
    
    

    </div>  
    
</footer>