<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
   <header>

   </header> 
   <main>
        <form action="">
            <fieldset class="buttons">
                <label for="">Registrate gratis para escuchar.</label>
                <button>Registrate con facebook</button>
                <button>Registrate con google</button>

            </fieldset>
            <div>
                <p>o</p>
            </div>

            <fieldset class="fieldset">
                <legend>Regístrate con tu correo electrónico</legend>
                <label for="email">¿Cuál es tu correo electrónico?
                    <input type="email" id="email" placeholder="Pon tu correo electrónico.">
                </label>
                <label for="confirm-email">Confirma el correo electrónico
                    <input type="email" id="confirm-email" placeholder="Vuelve a poner tu correo electrónico.">
                </label>
                <label for="password">Crea una contraseña
                    <input type="password" id="password" placeholder="Crea una contraseña.">
                </label>
                <label for="nickname">¿Cómo quieres que te llamemos?
                    <input type="text" id="nickname" placeholder="Pon un nombre de perfil.">
                    <p>Esto aparece en tu perfil.</p>
                </label>
                <label for="">¿Cuál es tu fecha de nacimiento?
                    <input type="day">
                    <input type="month">
                    <input type="year">
                </label>
            </fieldset>
            <fieldset>
                <legend>¿Cuál es tu género?</legend>
                <div>
                    <label for="gender">
                    <input type="radio" id="gender" name="gender" value="male">Hombre
                    </label>
                </div>
                <div>
                    <label for="gender1">
                    <input type="radio" id="gender1" name="gender" value="female">Mujer
                    </label>
                </div>
                <div>
                    <label for="gender2">
                    <input type="radio" id="gender2" name="gender" value="non-binary">No binario
                    </label>
                </div>
            </fieldset>
            <fieldset>
                <label for="sales">
                    <input type="checkbox" id="ofertas" value="agree">Quiero que me enviéis novedades y ofertas de Spoty
                </label>
                <label for="policy">
                    <input type="checkbox" id="policy" value="agree">Compartir mis datos de registro con los proveedores de contenido de Spoty para fines de marketing ten en cuenta que tus datos pueden ser transferidos a un pais de fuera del EEE, tal y como recoge nuestra Política de Privacidad.
                </label>
                <label for="submit">
                    <input type="submit" value="Registrate" id="submit">
                </label>

            </fieldset>
        </form>
   </main>
</body>
</html>