<section class="class_table">
    <h2>¿Por qué pasarte a Premium?</h2>   

    <div class="table">
        
            <include src="./article.html"
            photo="./assets/images/benefit-1.png"
            name="Descarga música."
            text="Llévala siempre contigo">
            </include>

            <include src="./article.html"
            photo="./assets/images/benefit-2.png" 
            name="Sin anuncios."
            text="Disfruta de música sin interrupciones.">
            </include>
           
            <include src="./article.html"
            photo="./assets/images/benefit-3.png"
            name="Escucha lo que quieras"
            text="Incluso en el móvil.">
            </include>

            <include src="./article.html"
            photo="./assets/images/benefit-4.png"
            name="Salta todas las canciones que quieras."
            text="Simplemente dale a siguiente.">
            </include>              
    </div>    
</section>