*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 62.5%;
}

.header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    height: 10%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.img-header1 {
    width: 200px;
    padding: 20px;    
}

.img-header2 {
    width: 80px;
    padding: 20px;    
}

.hero {
    padding: 20px;
    padding-top: 160px;
    padding-bottom: 40px;
    height: 50%;
    background-color: #31a5e8;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    }
.hero h1{
    font-size: 5rem;
}
.escucha {
    font-size: 2rem;
}
.solo {
    font-size: 1.1rem;
    padding-top: 8px;
}
.boton-verde {
    text-transform: uppercase;
    background-color:rgb(40, 181, 40);
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: block;
    width: 90%;
    text-align: center;
    border-radius: 25px;   
    padding: 15px; 
    margin: auto;
}
.footer{
    background-color: black;
    color: lightgray; 
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 40px;
    padding-right: 30px;
}
.españa{
    display:flex;
    justify-content: flex-end;
    gap: 1em; 
    align-items: flex-end;  
}
.medio{
    display: flex;
    justify-content: space-between;
}
.art1{
    gap:2em;
}
.españa, .medio, .final{
    padding-top: 10px;
    padding-bottom: 10px;
}
.cookies{
    padding-left: 20px;
}
.bandera{
    width: 30px;
}
section h2{
    font-size: 4rem;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.img-table{
    width: 100%;
}
.div-img{
    width: 10rem;
    
}

.class_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.article {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-around;
}

.crazy{
    display: flex;
    flex-direction: column;
    padding-top: 30px; 
    padding-left: 15px; 
    padding-right: 10px;
    font-size: 1.8rem;
    line-height: 40px;
}

.nav_ul {
    display: none;
    color: white;
    list-style: none;
    

}

/* Debemos crear dos media queries: una para la versión tablet y una para la versión de escritorio.

En la cabecera ocurre lo siguiente:
En versión móvil se ve el menú de hamburguesa.
En versión tablet en adelante se oculta el menú de hamburguesa y se muestra el listado del menú indicado.

Sección azul:
En versión móvil la imagen de fondo no existe.
En versión tablet en adelante se muestra la imagen de la chica bailando alineada a la derecha.*/

/*tablet*/
@media all and (min-width: 480px) {
    .hero {
        background-image: url("../images/premium_dancer.png");
        background-repeat: no-repeat;
        background-position-x: right;
        height: 100vh;
        justify-content: space-between;        
                }
    .boton-verde {
        display: inline;
        width: 20%;
        padding-left: 30px;
        padding-right: 30px;
            }

    .contenedor-boton {
         display: flex;
         align-items: flex-start; 
         text-align: left;  
       
        }
    .nav_ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        }
    .img-header2 {
        display: none;
    }
        }

/*desktop*/
@media screen and (min-width: 1000px){
    .hero {
        background-image: url("../images/premium_dancer.png");
        background-repeat: no-repeat;
        background-position-x: right;
        height: 100vh;
        justify-content: space-between;        
                }
    .boton-verde {
        display: inline;
        width: 20%;
        padding-left: 30px;
        padding-right: 30px;
            }

    .contenedor-boton {
         display: flex;
         align-items: flex-start; 
         text-align: left;  
       
        }
    .nav_ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        }
    .img-header2 {
        display: none;
    }
    }